@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burger{
        display: none;
    }
    header > h1{
        text-align: left;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-left: 20px;
    }
    menu{
        display: block;
        text-align: right;
        padding-right: 15px;
    }
    menu > ul > li{
        display: inline-block;
        border-top: none;
    }
    article > div{
        position: relative;
    }
    .container{
        margin-top: 50px;
    }
    .container h2{
        font-size: 4vw;
        margin-top: 20px;
        margin-left: 70px;
        color: #575455;
        text-align: left;
    }
    .container img{
        width: 45vw;
        border-radius: 10px;
        margin-left: 60px;
        margin-right: 70px;
    }
    input{
        font-size: 1.2vw
    }
    section{
        background-color: white;
        
    }
    .container{
        padding: 30px;
        display: flex;
    }
    .contact{
        display: flex;
        text-align: left;
        line-height: 30px;
        margin-top: 100px;
    }
    .contact div{
        margin-left: 25px;
    }
    .contact > h2{
        display: none;
    }
    .contact > h3{
        color: #575455;
    }
    .contact > img{
        width: 40vw;
        margin-left: 100px;
    }
    .acessarAgora{
        margin-top: 20px;
    }
    br{
        display: block;
    }
    footer > div > h1{
        color: white;
        font-size: 3vw;
        margin-left: 50px;
    }
    table{
        margin-top: 10px;
        margin-bottom: 10px;
        margin: auto;
        margin-left: 25vw;
    }

    /*CSS Login*/
    
    #headLogin > h1{
        text-align: center;
        padding-bottom: 25px;
    }
    #login{
        margin: auto;
    }
    #login > input{
        margin-left: 50px;
    }
    #login > h1{
        font-size: 3vw;
        text-align: center;
    }
    .separa img{
        width: 1.8vw;
        margin-top: 15px;
        margin-right: 10px;
    }
    /*CSS Register*/
    .dadosRegistro > h1{
        text-align: center;
        margin-bottom: 15px;
    }
    .dadosRegistro > h2{
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .dadosRegistro > input{
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .dadosRegistro > label{
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .dadosRegistro > br{
        display: block;
    }
}