@charset "UTF-8";

:root{
    --cor0:#EFEBE4;
    --cor1:#303030;
    --cor2:#00ABFF;
    --cor3:#0C70F2;
    --cor4:#1F7CFF;
    --cor5:#575455;
    --cor6:#f5f6fb;
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

body,html{
    background-color: white;
}
header{
    background-color: var(--cor1);
    color: white;
}
menu{
    display: none;
}
header > h1{
    padding: 10px;
    text-align: center;
}
i#burger{
    display: block;
    background-image: linear-gradient(to right, #0C70F2, #00ABFF);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    /*border-top: 2px solid white;*/
}
menu > ul > li a:hover{
    background-color: var(--cor4);
}
main{
    padding: 10px;
    margin-top: 10px;
    margin: auto;
}
article{
    width: 100vw;
}
article > div >h2{
    padding-bottom: 20px;
    color: var(--cor5);
    font-size: 5vw;
    text-align: center;
}
article > div > img{
    width: 90vw;
    border-radius: 10px;
    margin-left: 2.2vw;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
article > section > h2{
    text-align: left;
}
article > section > p{
    text-align: left;
}
section{
    color: var(--cor5);
    margin-top: 30px;
}
input{
    border-radius: 50px;
    border: none;
    padding: 15px;
    margin-top: 10px;
    font-size: 3vw;
    text-align: center;
    background-color: #e4ebef94;
    text-align: left;
}
.botao{
    background-color: var(--cor4);
    color: white;
    cursor: pointer;
}
.contact{
    text-align: center;
}
.contactImg{
    width: 60vw;
    border-radius: 10px;
}
.contact > h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.contact > p{
    margin-top: 20px;
    text-align: center;
}

footer#parceiras{
    background-image: linear-gradient(to right, #0C70F2, #00ABFF);
    padding: 30px;
    margin-top: 35px;
}