@charset "UTF-8";

:root{
    --cor0:#EFEBE4;
    --cor1:#303030;
    --cor2:#00ABFF;
    --cor3:#0C70F2;
    --cor4:#1F7CFF;
    --cor5:#575455;
    --cor6:#f5f6fb;
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}

body,html{
    background-color: var(--cor0);
}
header{
    background-color: var(--cor1);
    color: white;
}
menu{
    display: none;
}
header > h1{
    padding: 10px;
    text-align: center;
}
i#burger{
    display: block;
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    /*border-top: 2px solid white;*/
}
menu > ul > li a:hover{
    background-color: var(--cor3);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
article > h2{
    padding-bottom: 20px;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}