@charset "UTF-8";

:root{
    --cor0:#EFEBE4;
    --cor1:#303030;
    --cor2:#00ABFF;
    --cor3:#0C70F2;
    --cor4:#1F7CFF;
    --cor5:#575455;
    --cor6:#f5f6fb;
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}
.vagas > a{
    text-decoration: none;
    color: var(--cor5);
}
main > div > a > p{
    margin-top: 10px;
}
main > div > a > h2{
    margin-top: 10px;
}
#filtro > ul > li{
    list-style-type: none;
}
a:hover.cancelar{
    color: red;
}
